@use "../../styles.scss" as *;

.footer {
    background-color: $footer-color;
    
    .footer-text{
        height: 150px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}