@use "../../styles.scss" as *;

.footer {
  background-color: $footer-color;

  .footer-text {
    height: 50px;
    margin: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
